@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Silkscreen:wght@400;700&family=VT323&display=swap');

@import "tailwindcss";

@import "@catppuccin/tailwindcss/mocha.css";

@source inline("{group-hover:,}text-ctp-{sapphire,}");

.text-vertical {
    writing-mode: vertical-rl;
    text-orientation: sideways;
}

@theme {
    --font-serif: "Instrument Serif", serif;
    --font-mono: "JetBrains Mono", monospace;
    --font-pixel: "Silkscreen", sans-serif;
    --font-vt: "VT323", sans-serif;
}

.ease-spring {
    @apply ease-[linear(0,0.039_2%,0.155_4.2%,0.986_15.2%,1.133_18.6%,1.201_22%,1.193_26.8%,1.011_38.4%,0.959_45.4%,1.008_68.6%,1)];
}

.closed {
    @apply opacity-0! scale-0!;
}

.asdssds {
    @apply text-ctp-sapphire;
}
