@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Silkscreen:wght@400;700&family=VT323&display=swap');

@import "tailwindcss";

@import "@catppuccin/tailwindcss/mocha.css";

.text-vertical {
    writing-mode: vertical-rl;
    text-orientation: sideways;
}

@theme {
    --font-serif: "Instrument Serif", serif;
    --font-mono: "JetBrains Mono", monospace;
    --font-pixel: "Silkscreen", sans-serif;
    --font-vt: "VT323", sans-serif;
}

.app:hover img {
    width: 8rem;
    height: 8rem;
}

.app:has(+ .app:hover) img,
.app:hover + .app img {
    width: 7rem;
    height: 7rem;
}

.app:has(+ .app + .app:hover) img,
.app:hover + .app + .app img{
    width: 6rem;
    height: 6rem;
}