@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Silkscreen:wght@400;700&family=VT323&display=swap');

@import "tailwindcss";

@import "@catppuccin/tailwindcss/mocha.css";

@source inline("{group-hover:,}text-ctp-{sapphire,lavender,red,mauve,green,lime,yellow,old,purple}");

.text-vertical {
    writing-mode: vertical-rl;
    text-orientation: sideways;
}

@theme {
    --font-serif: "Instrument Serif", serif;
    --font-mono: "JetBrains Mono", monospace;
    --font-pixel: "Silkscreen", sans-serif;
    --font-vt: "VT323", sans-serif;
}

.ease-spring {
    @apply ease-[linear(0,0.039_2%,0.155_4.2%,0.986_15.2%,1.133_18.6%,1.201_22%,1.193_26.8%,1.011_38.4%,0.959_45.4%,1.008_68.6%,1)];
}

.closed {
    @apply opacity-0! scale-0! pointer-events-none;
}

.asdssds {
    @apply text-ctp-sapphire;
}

iframe[src*="giscus"] {
    -moz-osx-font-smoothing: grayscale;
    image-rendering: -moz-crisp-edges;
    transform: translateZ(0);
    will-change: transform;
}

.window {
    transform: none !important;
    filter: none !important;
    image-rendering: auto;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}
*::-webkit-scrollbar-track {
    border-radius: 17px;
    background-color: #45475A;
}

*::-webkit-scrollbar-track:hover {
    background-color: #45475A;
}

*::-webkit-scrollbar-track:active {
    background-color: #45475A;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #FAB387;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #FAB387;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #FAB387;
}
