---
import '../styles/global.css'

import Welcome from "../windows/welcome.astro";

import Wallpaper from '../assets/blob-scene-haikei.svg';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>hex4</title>
	</head>
	<body class="bg-ctp-crust overflow-hidden">
        <Wallpaper class="-z-20 absolute"></Wallpaper>
		<Welcome class=""/>
	</body>
</html>