---
import '../styles/global.css'

import Welcome from "../windows/welcome.astro";

import Wallpaper from "../assets/blob-scene-haikei.png";
import Bar from "../bar.astro";
import Launcher from "../launcher.astro";
import About from "../windows/about.astro";
import Links from "../windows/links.astro";
import Projects from "../windows/projects.astro";
import Fun from "../windows/fun.astro";
import Uses from "../windows/uses.astro";
---

<html lang="en" id="root">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>hex4</title>
	</head>
	<body class="bg-ctp-crust overflow-hidden desktop">
        <img src={Wallpaper.src} class="-z-20 absolute w-screen h-screen object-cover"></img>
        <Bar></Bar>
        <Launcher/>
		<Welcome/>
        <About/>
        <Links />
        <Projects />
        <Fun></Fun>
        <Uses></Uses>
	</body>
</html>

<script>

</script>