---
import "../styles/global.css";
import Badge from "../badge.astro";
import Window from "../layouts/window.astro";
---

<Window
	closed="true"
	title="explore"
	id="fun"
	icon="https://icons.hackclub.com/api/icons/0xfab387/explore"
>
	<div
		class="w-full items-center text-center justify-center justify-items-center place-content-center text-amber-50 font-mono grid grid-cols-3 gap-3"
	>
		<Badge image="arch.png" link="https://archlinux.org" />
		<Badge image="archive.gif" link="https://archive.org" />
		<Badge image="astro.png" link="https://astro.build" />
		<Badge image="bluesky.gif" link="https://bsky.app/profile/hex4.xyz" />
		<Badge image="catppuccin.gif" link="https://catppuccin.com" />
		<Badge image="css.png" />
		<Badge image="firefox.gif" />
		<Badge image="github.png" link="https://github.com/Hex-4" />
		<Badge image="godot.png" link="https://godotengine.org" />
		<Badge image="hackclub.png" link="https://hackclub.com" />
		<Badge image="hacker.gif" />
		<Badge image="linux.gif" />
		<Badge image="niko.png" />
		<Badge
			image="oneshot.gif"
			link="https://store.steampowered.com/app/420530/OneShot/"
		/>
		<Badge image="pico8.gif" link="https://www.lexaloffle.com/pico-8.php" />
		<Badge image="stop.gif" />
		<Badge image="ublock.png" />
		<Badge image="zen.png" link="https://zen-browser.app/" />
		<Badge image="88x31.gif" />
	</div>
	<div class="w-full">
		<pagering-link theme="dark" class="block mx-auto mt-4"></pagering-link>
	</div>
</Window>
