---
import "../styles/global.css";
import Badge from "../badge.astro";
import Window from "../layouts/window.astro";
---

<Window
	closed="true"
	title="explore"
	id="fun"
	icon="https://icons.hackclub.com/api/icons/0xfab387/explore"
>
	<div
		class="w-full items-center text-center justify-center justify-items-center place-content-center text-amber-50 font-mono grid grid-cols-3 gap-3"
	>
		<Badge image="arch.png" link="https://archlinux.org"></Badge>
		<Badge image="archive.gif" link="https://archive.org"></Badge>
		<Badge image="astro.png" link="https://astro.build"></Badge>
		<Badge image="bluesky.gif" link="https://bsky.app/profile/hex4.xyz"></Badge>
		<Badge image="catppuccin.gif" link="https://catppuccin.com"></Badge>
		<Badge image="css.png"></Badge>
		<Badge image="firefox.gif"></Badge>
		<Badge image="github.png" link="https://github.com/Hex-4"></Badge>
		<Badge image="godot.png" link="https://godotengine.org"></Badge>
		<Badge image="hackclub.png" link="https://hackclub.com"></Badge>
		<Badge image="hacker.gif"></Badge>
		<Badge image="linux.gif"></Badge>
		<Badge image="niko.png"></Badge>
		<Badge
			image="oneshot.gif"
			link="https://store.steampowered.com/app/420530/OneShot/"
		></Badge>
		<Badge
			image="pico8.gif"
			link="https://www.lexaloffle.com/pico-8.php"
		></Badge>
		<Badge image="stop.gif"></Badge>
		<Badge image="ublock.png"></Badge>
		<Badge image="zen.png" link="https://zen-browser.app/"></Badge>
		<Badge image="hex4.gif"></Badge>
	</div>
	<div class="w-full ">
		<pagering-link theme="dark" class="block mx-auto mt-4"></pagering-link>
	</div>
</Window>
