---
import '../styles/global.css'
import Window from "../layouts/window.astro";
---

<Window>
    <div class="w-70 text-center text-amber-50">
        <p>hey! i'm hex4. welcome to my little corner of the internet.</p>

        <span>ctrl + k</span>
        <p class="italic text-slate-400">to open app launcher</p>
    </div>

</Window>