---
import "./styles/global.css";
---

<div class="w-full p-3 z-200 hidden md:block">
	<div
		class="h-10 w-full rounded-full grid grid-cols-3 bg-ctp-base/75 backdrop-blur-xs z-50 shadow-lg/30 relative items-center justify-between"
	>
		<div class="flex flex-row gap-2">
			<div
				class="ml-1 font-vt h-8 justify-self-start w-min flex items-center px-2 bg-ctp-surface0 rounded-full font-black text-ctp-peach text-2xl"
			>
				hexOS
			</div>
			<a
				class="size-8 justify-self-center aspect-square font-mono flex items-center align-middle p-1 justify-center bg-ctp-surface1 rounded-full font-black text-ctp-surface0 text-2xl shadow-sm hover:shadow-md duration-600 transition-discrete transition-all hover:scale-120  ease-spring"
				href="https://github.com/Hex-4/hexOS"
			>
				<img
					src="https://icons.hackclub.com/api/icons/0xfab387/github"
					class="inline"
				>
			</a>
		</div>

		<button
			class="size-8 justify-self-center aspect-square font-mono flex items-center p-1.5 justify-center bg-ctp-peach rounded-full font-black text-ctp-surface0 text-2xl shadow-sm hover:shadow-md duration-1200 transition-discrete transition-all hover:scale-140 shadow-ctp-peach/15 hover:shadow-ctp-peach/25 ease-out hover:rotate-360 ease-spring"
			id="startButton"
		>
			<svg
				class=""
				xmlns="http://www.w3.org/2000/svg"
				width="32"
				height="32"
				viewBox="0 0 24 24"
			>
				<path
					fill="currentColor"
					d="M6.343 2a1.75 1.75 0 0 0-1.516.875l-1.588 2.75a1.75 1.75 0 0 0 0 1.75l1.588 2.75c.313.541.89.875 1.516.875h3.175a1.75 1.75 0 0 0 1.516-.875l1.587-2.75a1.75 1.75 0 0 0 0-1.75l-1.587-2.75A1.75 1.75 0 0 0 9.518 2zM4.827 13.875A1.75 1.75 0 0 1 6.343 13h3.175a1.75 1.75 0 0 1 1.516.875l1.587 2.75a1.75 1.75 0 0 1 0 1.75l-1.587 2.75A1.75 1.75 0 0 1 9.518 22H6.343a1.75 1.75 0 0 1-1.516-.875l-1.588-2.75a1.75 1.75 0 0 1 0-1.75zm9.5-5.5a1.75 1.75 0 0 1 1.516-.875h3.175a1.75 1.75 0 0 1 1.516.875l1.587 2.75a1.75 1.75 0 0 1 0 1.75l-1.587 2.75a1.75 1.75 0 0 1-1.516.875h-3.175a1.75 1.75 0 0 1-1.516-.875l-1.588-2.75a1.75 1.75 0 0 1 0-1.75z"
				/>
			</svg>
		</button>
		<div
			class="justify-self-end mr-1  h-8 font-mono flex items-center px-2 bg-ctp-surface0 rounded-full  text-ctp-text text-md"
			id="clock"
		>
			loading time...
		</div>
	</div>
</div>

<script>
function updateTime(): void {
	let now = new Date();
	document.getElementById("clock")!.innerHTML = now.toLocaleTimeString(
		"en-US",
		{
			hour: "2-digit",
			minute: "2-digit",
			second: "2-digit",
		},
	);
}

setInterval(updateTime, 100);

const openLauncher = new Event("openLauncher");

let startButton = document.getElementById("startButton");

startButton?.addEventListener("click", () => {
	console.log("clicked");
	document.getElementById("launcher")?.dispatchEvent(openLauncher);
});
</script>
