---
import './styles/global.css'
---

<div class="z-200 p-7 bg-ctp-base rounded-xl border-ctp-subtext0 border-2 absolute top-1/2 left-1/2 -translate-1/2 flex flex-row ">

    <div class="flex items-center justify-center flex-col group app">
        <img src="https://icons.hackclub.com/api/icons/0xfab387/sam"
             class="size-24 transition-all duration-500 ease-[cubic-bezier(0.16,1,0.3,1)]">
        <p class="text-ctp-text text-2xl font-vt">about me</p>
    </div>
    <div class="flex items-center justify-center flex-col group app">
        <img src="https://icons.hackclub.com/api/icons/0xfab387/sam"
             class="size-24 transition-all duration-500 ease-[cubic-bezier(0.16,1,0.3,1)]">
        <p class="text-ctp-text text-2xl font-vt">about me</p>
    </div>
    <div class="flex items-center justify-center flex-col group app">
        <img src="https://icons.hackclub.com/api/icons/0xfab387/sam"
             class="size-24 transition-all duration-500 ease-[cubic-bezier(0.16,1,0.3,1)]">
        <p class="text-ctp-text text-2xl font-vt">about me</p>
    </div>
    <div class="flex items-center justify-center flex-col group app">
        <img src="https://icons.hackclub.com/api/icons/0xfab387/sam"
             class="size-24 transition-all duration-500 ease-[cubic-bezier(0.16,1,0.3,1)]">
        <p class="text-ctp-text text-2xl font-vt">about me</p>
    </div>

</div>