---
import '../styles/global.css'
import { Debug } from 'astro:components';

const { id = "welcome", title = "Welcome!", icon = "https://icons.hackclub.com/api/icons/0xfab387/welcome", closed = ""} = Astro.props;
---

<div class={`w-fit rounded-2xl window absolute translate-x-[calc(48vw-50%)] translate-y-[calc(42vh-50%)] transition-all duration-300 flex flex-row ${closed === "true" ? "closed" : ""}`} id={id}>
    <div class="handle text-ctp-text bg-ctp-mantle text-center translate-x-10 hover:translate-x-4  font-vt text-xl rounded-l-xl pr-3 transition-all border-ctp-overlay0 hover:border-ctp-peach! border-1 ease-spring duration-400">
        <div class="w-min flex flex-col justify-between items-center py-2 px-1 h-full">
            <img src={icon} class="size-6">

            <span class="text-vertical text-3xl pointer-events-none">{title}</span>

            <img src="https://icons.hackclub.com/api/icons/0xed8796/view-close-small" class="size-6 hover:size-7 transition-all close">
        </div>

    </div>
    <div class="z-20 p-5 bg-ctp-base rounded-xl border-ctp-subtext0 border-2">
        <slot />
    </div>

</div>

<script>

    // Dragging code from https://jams.hackclub.com/batch/webOS/part-3#Making%20The%20Window%20Movable

    for (const div of document.getElementsByClassName("window")) {
        dragElement(div)
    }
    // Step 1: Define a function called `dragElement` that makes an HTML element draggable.
    function dragElement(element: Element) {
        // Step 2: Set up variables to keep track of the element's position.
        var initialX = 0;
        var initialY = 0;
        var currentX = 0;
        var currentY = 0;

        let posX = 0, posY = 0;




        element.querySelector(".handle")!.addEventListener('mousedown', startDragging);

        element.querySelector(".handle")!.addEventListener("mouseenter", () => {console.log("enter")});

        element.querySelector(".handle")!.addEventListener("mouseleave", () => {console.log("leave")});


        // Step 6: Define the `startDragging` function to capture the initial mouse position and set up event listeners.
        function startDragging(e) {
            e = e || window.event;
            element.style.transition = "none";
            e.preventDefault();
            // Step 7: Get the mouse cursor position at startup.
            initialX = e.clientX;
            initialY = e.clientY;


            // Step 8: Set up event listeners for mouse movement (`elementDrag`) and mouse button release (`closeDragElement`).
            document.addEventListener("mouseup", stopDragging);
            document.addEventListener("mousemove", dragElement);


        }

        // Step 9: Define the `elementDrag` function to calculate the new position of the element based on mouse movement.
        function dragElement(e) {
            console.log(document.elementFromPoint(e.clientX, e.clientY));

            e = e || window.event;
            e.preventDefault();
            currentX = e.clientX - initialX;
            currentY = e.clientY - initialY;
            element.style.transform = `translate(${posX + currentX}px, ${posY + currentY}px)`;
        }

        // Step 12: Define the `stopDragging` function to stop tracking mouse movement by removing the event listeners.
        function stopDragging() {
            element.style.transition = "all 300ms";
            console.log("stopDragging");
            document.removeEventListener("mouseup", stopDragging);
            document.removeEventListener("mousemove", dragElement);

            posX += currentX;
            posY += currentY;

            const handle = element.querySelector(".handle");
            if (handle) {
                // magic
                handle.style.visibility = 'hidden';
                handle.offsetHeight;
                handle.style.visibility = '';
            }
        }
    }

    for (const element of document.getElementsByClassName("close")) {
        element.addEventListener("click", () => {
            element.closest(".window")?.classList.toggle("closed");
        })
    }
</script>